flows.json
[
    {
        "id": "e434bed174fc1c5e",
        "type": "tab",
        "label": "App",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0adc8be44c35266",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#032e3f",
                "baseFont": "Times New Roman,Times,serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#f1e9eb",
                "baseFont": "Georgia,Georgia,serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#032e3f",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#032e3f",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#066388",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#032e3f",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Times New Roman,Times,serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 60,
                "sy": 80,
                "gx": 0,
                "gy": 3,
                "cx": 1,
                "cy": 0,
                "px": 1,
                "py": 0
            }
        }
    },
    {
        "id": "b97a11b97c8b88db",
        "type": "ui_tab",
        "name": "App",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ad3154be14dd1c13",
        "type": "ui_group",
        "name": "Login",
        "tab": "b97a11b97c8b88db",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "061b7add36b698f8",
        "type": "ui_group",
        "name": "Intro",
        "tab": "b97a11b97c8b88db",
        "order": 1,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9572d272457866e",
        "type": "ui_group",
        "name": "Logs",
        "tab": "b97a11b97c8b88db",
        "order": 4,
        "disp": false,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9b33ea4ff1e3666",
        "type": "ui_group",
        "name": "Adjustment",
        "tab": "b97a11b97c8b88db",
        "order": 5,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9cb108d764c143b7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2c0e0bd02f3de157",
        "type": "ui_group",
        "name": "Welcome",
        "tab": "b97a11b97c8b88db",
        "order": 3,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9b430563f20981d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "175aba4f9329448c",
        "type": "ui_spacer",
        "z": "e434bed174fc1c5e",
        "name": "spacer",
        "group": "061b7add36b698f8",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "01757f4fbbc43c47",
        "type": "ui_spacer",
        "z": "e434bed174fc1c5e",
        "name": "spacer",
        "group": "061b7add36b698f8",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "1b12c0521726dd72",
        "type": "ui_spacer",
        "z": "e434bed174fc1c5e",
        "name": "spacer",
        "group": "ad3154be14dd1c13",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "4fa0132c493efae7",
        "type": "ui_button",
        "z": "e434bed174fc1c5e",
        "name": "",
        "group": "061b7add36b698f8",
        "order": 4,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Go to the Login Page",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"App_Intro\", \"App_Logs\", \"App_Adjustment\", \"App_Welcome\"], \"show\":[\"App_Login\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1680,
        "y": 140,
        "wires": [
            [
                "f558f39d938c4bb4"
            ]
        ]
    },
    {
        "id": "06a247853e6dd1af",
        "type": "ui_button",
        "z": "e434bed174fc1c5e",
        "name": "",
        "group": "2c0e0bd02f3de157",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sign me out!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"App_Logs\", \"App_Adjustment\", \"App_Welcome\"], \"show\":[\"App_Intro\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1670,
        "y": 820,
        "wires": [
            [
                "f558f39d938c4bb4"
            ]
        ]
    },
    {
        "id": "60a7fd9f3943557a",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "b9572d272457866e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Event",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 1380,
        "wires": []
    },
    {
        "id": "d10b5fe383fb569a",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "a9b33ea4ff1e3666",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Adjustment Area",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 380,
        "y": 1800,
        "wires": []
    },
    {
        "id": "638b1b8f9c440702",
        "type": "ui_text_input",
        "z": "e434bed174fc1c5e",
        "name": "",
        "label": "Distance to obstacles",
        "tooltip": "",
        "group": "a9b33ea4ff1e3666",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1320,
        "y": 2160,
        "wires": [
            [
                "085e781f29a951e2"
            ]
        ]
    },
    {
        "id": "fa899b03c432079b",
        "type": "ui_dropdown",
        "z": "e434bed174fc1c5e",
        "name": "",
        "label": "PIR's sound",
        "tooltip": "",
        "place": "Level",
        "group": "a9b33ea4ff1e3666",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Average",
                "value": 2,
                "type": "num"
            },
            {
                "label": "High",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "1",
        "topicType": "str",
        "className": "",
        "x": 1290,
        "y": 1940,
        "wires": [
            [
                "4660b1c3fd1bbc51"
            ]
        ]
    },
    {
        "id": "f558f39d938c4bb4",
        "type": "ui_ui_control",
        "z": "e434bed174fc1c5e",
        "name": "",
        "events": "all",
        "x": 2220,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c67bd84d1b0d956a",
        "type": "ui_template",
        "z": "e434bed174fc1c5e",
        "group": "061b7add36b698f8",
        "name": "Greeting",
        "order": 1,
        "width": 8,
        "height": 2,
        "format": "<!DOCTYPE html>\n<html>\n<head>\n<style>\n    h1 {\n        text-align: center;\n        line-height: 1.3;\n        font-size: 200%;\n        padding-bottom: 0;\n        margin-bottom: 0;\n    }\n    x {\n        color: rgb(194, 73, 48);\n    }\n</style>\n</head>\n<body>\n    <h1> Welcome to the monitoring site of <x> Super Glasses </x> </h1>\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 400,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1cbe9d8b8a5ba164",
        "type": "ui_form",
        "z": "e434bed174fc1c5e",
        "name": "",
        "label": "",
        "group": "ad3154be14dd1c13",
        "order": 1,
        "width": 7,
        "height": 1,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "ea846dbc95201905",
                "f0301396550c9e0e"
            ]
        ]
    },
    {
        "id": "ea846dbc95201905",
        "type": "function",
        "z": "e434bed174fc1c5e",
        "name": "Wrap account info and send",
        "func": "var account = {\n    username: msg.payload.username,\n    password: msg.payload.password\n}\nmsg.payload = JSON.stringify(account)\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "c2eb6174ac3bf8b4",
                "577e28be4656e21e"
            ]
        ]
    },
    {
        "id": "c2eb6174ac3bf8b4",
        "type": "mqtt out",
        "z": "e434bed174fc1c5e",
        "name": "",
        "topic": "message/LoginInfo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9cb108d764c143b7",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "147e7f2cd2e71790",
        "type": "mqtt in",
        "z": "e434bed174fc1c5e",
        "name": "",
        "topic": "message/LoginResponse",
        "qos": "2",
        "datatype": "auto",
        "broker": "9cb108d764c143b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 660,
        "wires": [
            [
                "c4407846e92969d5"
            ]
        ]
    },
    {
        "id": "0497cd623c2d209a",
        "type": "switch",
        "z": "e434bed174fc1c5e",
        "name": "Verify account",
        "property": "payload.response",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "incorrect",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "admin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "guest",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 880,
        "y": 660,
        "wires": [
            [
                "83fc9d7a8522cf1e",
                "bc87cec87c26d5e2"
            ],
            [
                "3a33dfa37412b935",
                "bc87cec87c26d5e2",
                "0b69fe45e491bfd8"
            ],
            [
                "bc87cec87c26d5e2",
                "08473ed117e864dd",
                "0b69fe45e491bfd8"
            ]
        ]
    },
    {
        "id": "3a33dfa37412b935",
        "type": "change",
        "z": "e434bed174fc1c5e",
        "name": "Login as Admin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"App_Login\"], \"show\":[\"App_Logs\", \"App_Adjustment\", \"App_Welcome\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 620,
        "wires": [
            [
                "f558f39d938c4bb4"
            ]
        ]
    },
    {
        "id": "4aac1151ce5bc759",
        "type": "ui_button",
        "z": "e434bed174fc1c5e",
        "name": "",
        "group": "ad3154be14dd1c13",
        "order": 4,
        "width": 7,
        "height": 2,
        "passthru": true,
        "label": "Bring me back to the Welcome page",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "button1",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"App_Login\"], \"show\":[\"App_Intro\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1730,
        "y": 300,
        "wires": [
            [
                "f558f39d938c4bb4"
            ]
        ]
    },
    {
        "id": "c4407846e92969d5",
        "type": "json",
        "z": "e434bed174fc1c5e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 660,
        "wires": [
            [
                "0497cd623c2d209a"
            ]
        ]
    },
    {
        "id": "ad29b046d1ce805c",
        "type": "comment",
        "z": "e434bed174fc1c5e",
        "name": "Section Login _________________________________________________________________________________________________________________________________________________",
        "info": "",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "717e96f5e769f83e",
        "type": "comment",
        "z": "e434bed174fc1c5e",
        "name": "Section Dashboard _____________________________________________________________________________________________________________________________________________",
        "info": "",
        "x": 760,
        "y": 820,
        "wires": []
    },
    {
        "id": "d2254f5a9a4caea2",
        "type": "comment",
        "z": "e434bed174fc1c5e",
        "name": "Section Intro  __________________________________________________________________________________________________________________________________________________",
        "info": "",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "2c93d3553e00f2c6",
        "type": "ui_switch",
        "z": "e434bed174fc1c5e",
        "name": "",
        "label": "PIR status",
        "tooltip": "",
        "group": "a9b33ea4ff1e3666",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "1",
        "topicType": "str",
        "style": "",
        "onvalue": "HIGH",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "LOW",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1290,
        "y": 1880,
        "wires": [
            [
                "2d7a8dbe23cb4de9"
            ]
        ]
    },
    {
        "id": "085e781f29a951e2",
        "type": "function",
        "z": "e434bed174fc1c5e",
        "name": "Request distance change",
        "func": "if (msg.payload !== '')\n    msg.payload = JSON.stringify({distance: msg.payload})\nelse msg.payload = 'Empty string'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 2160,
        "wires": [
            [
                "5ec6effa236f97d1"
            ]
        ]
    },
    {
        "id": "5ec6effa236f97d1",
        "type": "mqtt out",
        "z": "e434bed174fc1c5e",
        "name": "",
        "topic": "message/ObstacleDistance",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9cb108d764c143b7",
        "x": 1900,
        "y": 2160,
        "wires": []
    },
    {
        "id": "e3bc22faaec0b3f3",
        "type": "ui_template",
        "z": "e434bed174fc1c5e",
        "group": "061b7add36b698f8",
        "name": "",
        "order": 2,
        "width": 8,
        "height": 3,
        "format": "<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            .nr-dashboard-cardcontainer {\n                margin-top: 10px;\n                margin-bottom: 0;\n            }\n            .nr-dashboard-button {\n                height: 10% !important;\n            }\n            img {\n                width: 100% !important;\n                height: 100%!important;\n                box-sizing: border-box;\n            }\n        </style>\n    </head>\n    <body>\n        <img src = \"https://images.pexels.com/photos/3826678/pexels-photo-3826678.jpeg?auto=compress&cs=tinysrgb&w=600\">\n    </body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4632001302602e29",
        "type": "ui_template",
        "z": "e434bed174fc1c5e",
        "group": "ad3154be14dd1c13",
        "name": "",
        "order": 3,
        "width": 7,
        "height": 3,
        "format": "<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        .nr-dashboard-form-button {\n            height: 50% !important;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n        }\n        .md-button {\n            height: 50% !important;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n        }\n        md-card {\n            padding: 0 !important;\n        }\n    </style>\n</head>\n<body>\n    <img src = \"https://www.verywellhealth.com/thmb/QBYmRyl639FJeR7UlqD3qygEh34=/fit-in/800x415/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/CyxusHEV-AbsorbedBlueLightGlasses-2eb499fbbb3642ea9f8076b0847a1f0e.jpg\" />\n</body>\n</html>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1efcd21e4d321db0",
        "type": "ui_toast",
        "z": "e434bed174fc1c5e",
        "position": "bottom right",
        "displayTime": "2",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Notify (Failed)",
        "x": 1480,
        "y": 460,
        "wires": []
    },
    {
        "id": "83fc9d7a8522cf1e",
        "type": "change",
        "z": "e434bed174fc1c5e",
        "name": "Login Failed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Your credentials are incorrect",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 540,
        "wires": [
            [
                "1efcd21e4d321db0"
            ]
        ]
    },
    {
        "id": "577e28be4656e21e",
        "type": "trigger",
        "z": "e434bed174fc1c5e",
        "name": "Inform server error after 3s",
        "op1": "",
        "op2": "The server may not be turned on. Try again later!",
        "op1type": "nul",
        "op2type": "str",
        "duration": "4",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "2",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 800,
        "y": 460,
        "wires": [
            [
                "1efcd21e4d321db0"
            ]
        ]
    },
    {
        "id": "f8122bc63bf17c18",
        "type": "ui_template",
        "z": "e434bed174fc1c5e",
        "group": "a9b33ea4ff1e3666",
        "name": "CSS for Adjustment",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<style>\n    [node-id=\"d10b5fe383fb569a\"] {\n    font-size: 120%;\n    font-weight: bold;\n    color: white !important;\n    background: rgb(22, 27, 74) !important;\n    border-radius: 10px 10px;\n    height: 50px !important;\n    display: flex;\n    justify-content: center;\n    }\n    \n    .nr-dashboard-button {\n        height: 50px !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 590,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "f0301396550c9e0e",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "2c0e0bd02f3de157",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Welcome back, @",
        "format": "{{msg.payload.username}}",
        "layout": "row-left",
        "className": "",
        "x": 390,
        "y": 980,
        "wires": []
    },
    {
        "id": "2de3fa114062d10d",
        "type": "ui_switch",
        "z": "e434bed174fc1c5e",
        "name": "",
        "label": "Ultrasonic status",
        "tooltip": "",
        "group": "a9b33ea4ff1e3666",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "2",
        "topicType": "str",
        "style": "",
        "onvalue": "HIGH",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "LOW",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1300,
        "y": 2000,
        "wires": [
            [
                "2d7a8dbe23cb4de9"
            ]
        ]
    },
    {
        "id": "bc87cec87c26d5e2",
        "type": "change",
        "z": "e434bed174fc1c5e",
        "name": "Deactivate the trigger because of server working",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 540,
        "wires": [
            [
                "577e28be4656e21e"
            ]
        ]
    },
    {
        "id": "5c5e024bd5620bf8",
        "type": "ui_dropdown",
        "z": "e434bed174fc1c5e",
        "name": "",
        "label": "US's Sound",
        "tooltip": "",
        "place": "Level",
        "group": "a9b33ea4ff1e3666",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Average",
                "value": 2,
                "type": "num"
            },
            {
                "label": "High",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "2",
        "topicType": "str",
        "className": "",
        "x": 1290,
        "y": 2060,
        "wires": [
            [
                "4660b1c3fd1bbc51"
            ]
        ]
    },
    {
        "id": "4660b1c3fd1bbc51",
        "type": "function",
        "z": "e434bed174fc1c5e",
        "name": "Request sound change",
        "func": "msg.payload = JSON.stringify({type: msg.topic, mode: msg.payload})\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 1980,
        "wires": [
            [
                "6343fa1f75e48186"
            ]
        ]
    },
    {
        "id": "6343fa1f75e48186",
        "type": "mqtt out",
        "z": "e434bed174fc1c5e",
        "name": "",
        "topic": "message/Sound",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9cb108d764c143b7",
        "x": 1860,
        "y": 1980,
        "wires": []
    },
    {
        "id": "2d7a8dbe23cb4de9",
        "type": "function",
        "z": "e434bed174fc1c5e",
        "name": "Request button status change",
        "func": "msg.payload = JSON.stringify({\n    command: 'write',\n    button: msg.topic,\n    status: msg.payload\n})\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 1920,
        "wires": [
            [
                "afc3b291ca55bc10"
            ]
        ]
    },
    {
        "id": "afc3b291ca55bc10",
        "type": "mqtt out",
        "z": "e434bed174fc1c5e",
        "name": "",
        "topic": "message/Status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9cb108d764c143b7",
        "x": 1860,
        "y": 1920,
        "wires": []
    },
    {
        "id": "2b6c16ed8fece74d",
        "type": "mqtt out",
        "z": "e434bed174fc1c5e",
        "name": "",
        "topic": "message/Status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9cb108d764c143b7",
        "x": 1460,
        "y": 1000,
        "wires": []
    },
    {
        "id": "6cc332bb39fe1462",
        "type": "mqtt in",
        "z": "e434bed174fc1c5e",
        "name": "",
        "topic": "message/StatusResponse",
        "qos": "2",
        "datatype": "auto",
        "broker": "9cb108d764c143b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 1920,
        "wires": [
            [
                "97a0fcb15550d098"
            ]
        ]
    },
    {
        "id": "97a0fcb15550d098",
        "type": "json",
        "z": "e434bed174fc1c5e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 610,
        "y": 1920,
        "wires": [
            [
                "9ad2688331f8e17b",
                "5de7ccddf84c2633"
            ]
        ]
    },
    {
        "id": "2b6732c937315812",
        "type": "function",
        "z": "e434bed174fc1c5e",
        "name": "Fetch buttons' status",
        "func": "msg.payload = JSON.stringify({command:\"read\"})\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 880,
        "wires": [
            [
                "2b6c16ed8fece74d"
            ]
        ]
    },
    {
        "id": "9ad2688331f8e17b",
        "type": "function",
        "z": "e434bed174fc1c5e",
        "name": "fetch PIR's status",
        "func": "if (msg.payload.PIR == 1) msg.payload = 'HIGH'\nelse msg.payload = 'LOW'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1880,
        "wires": [
            [
                "2c93d3553e00f2c6"
            ]
        ]
    },
    {
        "id": "5de7ccddf84c2633",
        "type": "function",
        "z": "e434bed174fc1c5e",
        "name": "fetch US's status",
        "func": "if (msg.payload.US == 1) msg.payload = 'HIGH'\nelse msg.payload = 'LOW'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 2000,
        "wires": [
            [
                "2de3fa114062d10d"
            ]
        ]
    },
    {
        "id": "08473ed117e864dd",
        "type": "change",
        "z": "e434bed174fc1c5e",
        "name": "Login as Guest",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"App_Login\"], \"show\":[\"App_Logs\", \"App_Welcome\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 700,
        "wires": [
            [
                "f558f39d938c4bb4"
            ]
        ]
    },
    {
        "id": "0b69fe45e491bfd8",
        "type": "trigger",
        "z": "e434bed174fc1c5e",
        "name": "Trigger buttons status every 3 minutes",
        "op1": "1",
        "op2": "2",
        "op1type": "str",
        "op2type": "str",
        "duration": "-3",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 750,
        "y": 780,
        "wires": [
            [
                "2b6732c937315812",
                "9ad98534adcb68a9"
            ]
        ]
    },
    {
        "id": "d8171c835311e068",
        "type": "ui_template",
        "z": "e434bed174fc1c5e",
        "group": "061b7add36b698f8",
        "name": "Author Reference",
        "order": 6,
        "width": 8,
        "height": 2,
        "format": "<!DOCTYPE html>\n<html>\n<head>\n<style>\n    h3, p {\n        text-align: center;\n    }\n    #author_container {\n        display: flex;\n        justify-content: space-between;\n        padding: 15px !important\n    }\n    i {\n        color: rgb(20, 54, 115);\n    }\n</style>\n</head>\n<body>\n    <h3> A product of <i> THIRD TEAM </i> </h3>\n    <div id = \"author_container\">\n        <p> Thien Phu </p>\n        <p> Truong Huy </p>\n        <p> Gia Huy </p>\n    </div>\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 630,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2e5ae03e5a694188",
        "type": "ui_template",
        "z": "e434bed174fc1c5e",
        "group": "061b7add36b698f8",
        "name": "Contact",
        "order": 7,
        "width": 8,
        "height": 3,
        "format": "<!DOCTYPE html>\n<html>\n<head>\n<style>\n    [node-id=\"2e5ae03e5a694188\"] {\n        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;\n        border-top: 5px solid rgb(11, 55, 112);\n        height: 200px !important;\n    }\n    h3, p {\n        text-align: center;\n    }\n    #contact_container {\n        padding: 0px 50px;\n        margin-top: 25px;\n        display: flex;\n        flex-flow: column;\n        justify-content: space-between;\n        align-items: space-evenly;\n        height: 100px !important;\n    }\n    .contact_element {\n        display: flex;\n        flex-flow: row;\n        justify-content: space-between;\n    }\n    .contact_img {\n        width: 30px !important;\n        height: 30px !important;\n    }\n</style>\n</head>\n<body>\n    <h3> Contact us </h3>\n    <div id = \"contact_container\">\n        <div class = \"contact_element\"> \n            <img class = \"contact_img\" src = \"https://upload.wikimedia.org/wikipedia/commons/6/6c/Phone_icon.png\" />\n            <p> (+84) 77 4848 931 </p>\n        </div>\n        <div class = \"contact_element\">\n            <img class = \"contact_img\" src = \"https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Circle-icons-mail.svg/2048px-Circle-icons-mail.svg.png\" />\n            <p> lnthuy20@clc.fitus.edu.vn </p>\n        </div>\n    </div>\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 840,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "595bfe44a9edd3d5",
        "type": "mqtt out",
        "z": "e434bed174fc1c5e",
        "name": "",
        "topic": "message/Log",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9cb108d764c143b7",
        "x": 1460,
        "y": 1060,
        "wires": []
    },
    {
        "id": "7842f09d82d21c0d",
        "type": "mqtt in",
        "z": "e434bed174fc1c5e",
        "name": "",
        "topic": "message/LogResponse",
        "qos": "2",
        "datatype": "auto",
        "broker": "9cb108d764c143b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 1460,
        "wires": [
            [
                "acb10c60bc833dbf"
            ]
        ]
    },
    {
        "id": "acb10c60bc833dbf",
        "type": "json",
        "z": "e434bed174fc1c5e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 1460,
        "wires": [
            [
                "f3421a4ecdaf6c0e"
            ]
        ]
    },
    {
        "id": "f3421a4ecdaf6c0e",
        "type": "function",
        "z": "e434bed174fc1c5e",
        "name": "Format event",
        "func": "const time_element = msg.payload.time.split(\"T\")\nconst date = time_element[0]\nconst time = time_element[1].split(\"+\")[0]\nif (msg.payload.pir === 'null')\n    msg.payload = {date: date, time: time, label: 'Obstacles'}\nelse if (msg.payload.us === 'null')\n    msg.payload = {date: date, time: time, label: 'People'}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1460,
        "wires": [
            [
                "fc2753aad3f3a5dc"
            ]
        ]
    },
    {
        "id": "fc2753aad3f3a5dc",
        "type": "function",
        "z": "e434bed174fc1c5e",
        "name": "Push event log to array",
        "func": "var dashboardLog = flow.get('dashboardLog') || []\n\ndashboardLog.push(msg.payload)\n\nflow.set('dashboardLog', dashboardLog)\n\nmsg = {}\n\nmsg.payload = dashboardLog\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1460,
        "wires": [
            [
                "1012f8ff9c9d6812",
                "f8c866124bafafa6",
                "ec752271012e0585",
                "bb620db470d6ac1a",
                "b91c95d52486678f",
                "2fe5bbb1bea69d3f",
                "b2bac68faba7ca1f",
                "5c30dfbead661fd2",
                "0e28cb360a29b419",
                "e3869b5f1f1d735b"
            ]
        ]
    },
    {
        "id": "9ad98534adcb68a9",
        "type": "function",
        "z": "e434bed174fc1c5e",
        "name": "Set log empty",
        "func": "flow.set('dashboardLog', [])\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 940,
        "wires": [
            [
                "595bfe44a9edd3d5"
            ]
        ]
    },
    {
        "id": "1012f8ff9c9d6812",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "b9572d272457866e",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Time & Object",
        "label": "{{msg.payload[0].time}}",
        "format": "{{msg.payload[0].label}}",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 1300,
        "wires": []
    },
    {
        "id": "f8c866124bafafa6",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "b9572d272457866e",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Time & Object",
        "label": "{{msg.payload[1].time}}",
        "format": "{{msg.payload[1].label}}",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 1400,
        "wires": []
    },
    {
        "id": "ec752271012e0585",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "b9572d272457866e",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "Time & Object",
        "label": "{{msg.payload[2].time}}",
        "format": "{{msg.payload[2].label}}",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 1500,
        "wires": []
    },
    {
        "id": "bb620db470d6ac1a",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "b9572d272457866e",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "Time & Object",
        "label": "{{msg.payload[3].time}}",
        "format": "{{msg.payload[3].label}}",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 1600,
        "wires": []
    },
    {
        "id": "b91c95d52486678f",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "b9572d272457866e",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "Time & Object",
        "label": "{{msg.payload[4].time}}",
        "format": "{{msg.payload[4].label}}",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 1700,
        "wires": []
    },
    {
        "id": "2fe5bbb1bea69d3f",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "b9572d272457866e",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "Day 0",
        "label": "{{msg.payload[0].date}}",
        "format": "",
        "layout": "row-left",
        "className": "",
        "x": 1270,
        "y": 1260,
        "wires": []
    },
    {
        "id": "9f5be6a66d3af02f",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "b9572d272457866e",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Day 1",
        "label": "{{msg.payload[1].date}}",
        "format": "",
        "layout": "row-left",
        "className": "",
        "x": 1390,
        "y": 1360,
        "wires": []
    },
    {
        "id": "b2bac68faba7ca1f",
        "type": "switch",
        "z": "e434bed174fc1c5e",
        "name": "",
        "property": "payload[1].date",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "payload[0].date",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 1360,
        "wires": [
            [
                "9f5be6a66d3af02f"
            ]
        ]
    },
    {
        "id": "594da95ad39ac6c1",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "b9572d272457866e",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "Day 2",
        "label": "{{msg.payload[2].date}}",
        "format": "",
        "layout": "row-left",
        "className": "",
        "x": 1390,
        "y": 1460,
        "wires": []
    },
    {
        "id": "5c30dfbead661fd2",
        "type": "switch",
        "z": "e434bed174fc1c5e",
        "name": "",
        "property": "payload[2].date",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "payload[1].date",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 1460,
        "wires": [
            [
                "594da95ad39ac6c1"
            ]
        ]
    },
    {
        "id": "001c4f54d2e1c4ad",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "b9572d272457866e",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "Day 3",
        "label": "{{msg.payload[3].date}}",
        "format": "",
        "layout": "row-left",
        "className": "",
        "x": 1390,
        "y": 1560,
        "wires": []
    },
    {
        "id": "0e28cb360a29b419",
        "type": "switch",
        "z": "e434bed174fc1c5e",
        "name": "",
        "property": "payload[3].date",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "payload[2].date",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 1560,
        "wires": [
            [
                "001c4f54d2e1c4ad"
            ]
        ]
    },
    {
        "id": "1eb0bd2718b0696a",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "b9572d272457866e",
        "order": 11,
        "width": 4,
        "height": 1,
        "name": "Day 4",
        "label": "{{msg.payload[4].date}}",
        "format": "",
        "layout": "row-left",
        "className": "",
        "x": 1390,
        "y": 1660,
        "wires": []
    },
    {
        "id": "e3869b5f1f1d735b",
        "type": "switch",
        "z": "e434bed174fc1c5e",
        "name": "",
        "property": "payload[4].date",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "payload[3].date",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 1660,
        "wires": [
            [
                "1eb0bd2718b0696a"
            ]
        ]
    },
    {
        "id": "c36c32aaacd79cc3",
        "type": "ui_button",
        "z": "e434bed174fc1c5e",
        "name": "Re-fetch data",
        "group": "2c0e0bd02f3de157",
        "order": 4,
        "width": 10,
        "height": 2,
        "passthru": false,
        "label": "Data is updated after every 1 minute or you can press here",
        "tooltip": "",
        "color": "black",
        "bgcolor": "rgb(100, 156, 189)",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 1060,
        "wires": [
            [
                "9ad98534adcb68a9",
                "2b6732c937315812"
            ]
        ]
    },
    {
        "id": "073b4fc68b011f04",
        "type": "ui_template",
        "z": "e434bed174fc1c5e",
        "group": "b9572d272457866e",
        "name": "CSS for Event",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<style>\n    [node-id=\"60a7fd9f3943557a\"] {\n        font-size: 120%;\n        font-weight: bold;\n        color: white !important;\n        background: rgb(22, 27, 74) !important;\n        border-radius: 10px 10px;\n        height: 50px !important;\n        display: flex;\n        justify-content: center;\n    }\n    .nr-dashboard-button {\n        height: 50px !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 520,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "d2c38f42ab3968a7",
        "type": "ui_template",
        "z": "e434bed174fc1c5e",
        "group": "a9b33ea4ff1e3666",
        "name": "CSS for Welcome ",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<style>\n    #App_Welcome_cards {\n        display: flex;\n        justify-content: center;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 610,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "6ec48ee31dbd9522",
        "type": "ui_text",
        "z": "e434bed174fc1c5e",
        "group": "2c0e0bd02f3de157",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "The device has been used for",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 430,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a80d98871696dc5a",
        "type": "function",
        "z": "e434bed174fc1c5e",
        "name": "Get day diff",
        "func": "var cur_date = new Date()\nvar start_date = new Date(\"2022/07/15\");  // some date\nvar diff_ms = Math.abs(cur_date - start_date);  // difference in milliseconds\nvar diff_days = Math.round(diff_ms / 86400000)\nmsg.payload = diff_days.toString() + ' days'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1100,
        "wires": [
            [
                "6ec48ee31dbd9522"
            ]
        ]
    },
    {
        "id": "d6f925db0f7c6bb9",
        "type": "inject",
        "z": "e434bed174fc1c5e",
        "name": "Trigger day-diff calculation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 1040,
        "wires": [
            [
                "a80d98871696dc5a"
            ]
        ]
    },
    {
        "id": "5b46b2268023d5e8",
        "type": "inject",
        "z": "e434bed174fc1c5e",
        "name": "Reset the default UI ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"App_Login\",\"App_Logs\", \"App_Adjustment\", \"App_Welcome\"], \"show\":[\"App_Intro\"]}}",
        "payloadType": "json",
        "x": 2080,
        "y": 200,
        "wires": [
            [
                "f558f39d938c4bb4"
            ]
        ]
    }
]
