flows.json
[
    {
        "id": "e97ffe7330781f7d",
        "type": "tab",
        "label": "App",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83f8bd9fb1569ac7",
        "type": "ui_button",
        "z": "e97ffe7330781f7d",
        "name": "",
        "group": "061b7add36b698f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Go to the Login Page",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"App_Intro\", \"App_Logs\", \"App_Adjustment\"], \"show\":[\"App_Login\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 760,
        "y": 120,
        "wires": [
            [
                "3d47f2cbbce208f5"
            ]
        ]
    },
    {
        "id": "3c8433012c609088",
        "type": "ui_button",
        "z": "e97ffe7330781f7d",
        "name": "",
        "group": "a9b33ea4ff1e3666",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sign me out!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"App_Logs\", \"App_Adjustment\"], \"show\":[\"App_Intro\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 660,
        "wires": [
            [
                "3d47f2cbbce208f5"
            ]
        ]
    },
    {
        "id": "2f22fbd4bd9fd6bf",
        "type": "ui_text",
        "z": "e97ffe7330781f7d",
        "group": "b9572d272457866e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Logs",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 110,
        "y": 680,
        "wires": []
    },
    {
        "id": "5fafa9eda20f139d",
        "type": "ui_text",
        "z": "e97ffe7330781f7d",
        "group": "a9b33ea4ff1e3666",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Adjustment Area",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 500,
        "y": 660,
        "wires": []
    },
    {
        "id": "ab0bf26a6c11917d",
        "type": "ui_text_input",
        "z": "e97ffe7330781f7d",
        "name": "",
        "label": "Distance to obstacles",
        "tooltip": "",
        "group": "a9b33ea4ff1e3666",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 480,
        "y": 780,
        "wires": [
            [
                "69943755c186aa6c"
            ]
        ]
    },
    {
        "id": "c881ea3cca0e9102",
        "type": "ui_dropdown",
        "z": "e97ffe7330781f7d",
        "name": "",
        "label": "Bell melody",
        "tooltip": "",
        "place": "Sound",
        "group": "a9b33ea4ff1e3666",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Ocean",
                "value": "ocean",
                "type": "str"
            },
            {
                "label": "Bird",
                "value": "bird",
                "type": "str"
            },
            {
                "label": "Door knocking",
                "value": "door_knocking",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 510,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "f467dc497b8842e9",
        "type": "ui_template",
        "z": "e97ffe7330781f7d",
        "group": "a9b33ea4ff1e3666",
        "name": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<style>\n    [node-id=\"5fafa9eda20f139d\"], [node-id=\"2f22fbd4bd9fd6bf\"] {\n    font-size: 120%;\n    font-weight: bold;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 840,
        "wires": [
            [
                "5fafa9eda20f139d",
                "2f22fbd4bd9fd6bf"
            ]
        ]
    },
    {
        "id": "3d47f2cbbce208f5",
        "type": "ui_ui_control",
        "z": "e97ffe7330781f7d",
        "name": "",
        "events": "all",
        "x": 1140,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2651401fb6c0b6bf",
        "type": "ui_template",
        "z": "e97ffe7330781f7d",
        "group": "061b7add36b698f8",
        "name": "Greeting",
        "order": 1,
        "width": "6",
        "height": "2",
        "format": "<!DOCTYPE html>\n<html>\n<head>\n<style>\n    h2 {\n        text-align: center;\n        line-height: 1.5;\n        font-size: 150%;\n    }\n</style>\n</head>\n<body>\n    <h2> Welcome to <br> the monitoring site of <br> Smart Glasses </h2>\n\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "57c41ad094cefb75",
        "type": "ui_form",
        "z": "e97ffe7330781f7d",
        "name": "",
        "label": "",
        "group": "ad3154be14dd1c13",
        "order": 1,
        "width": "6",
        "height": "1",
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "3e274c7e3f3187c4"
            ]
        ]
    },
    {
        "id": "3e274c7e3f3187c4",
        "type": "function",
        "z": "e97ffe7330781f7d",
        "name": "",
        "func": "var account = {\n    username: msg.payload.username,\n    password: msg.payload.password\n}\nmsg.payload = JSON.stringify(account)\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 340,
        "wires": [
            [
                "b22924c806f6b3c7"
            ]
        ]
    },
    {
        "id": "b22924c806f6b3c7",
        "type": "mqtt out",
        "z": "e97ffe7330781f7d",
        "name": "",
        "topic": "message/LoginInfo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9cb108d764c143b7",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "4c3f52e0f168affa",
        "type": "mqtt in",
        "z": "e97ffe7330781f7d",
        "name": "",
        "topic": "message/LoginResponse",
        "qos": "2",
        "datatype": "auto",
        "broker": "9cb108d764c143b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "41e735bc49538a03"
            ]
        ]
    },
    {
        "id": "e14a342f4c989fcc",
        "type": "switch",
        "z": "e97ffe7330781f7d",
        "name": "",
        "property": "payload.response",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "d69629872b8955aa"
            ],
            [
                "fd8261fc4fe9d304"
            ]
        ]
    },
    {
        "id": "fd8261fc4fe9d304",
        "type": "change",
        "z": "e97ffe7330781f7d",
        "name": "Login Successfully",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"App_Login\"], \"show\":[\"App_Logs\", \"App_Adjustment\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 460,
        "wires": [
            [
                "3d47f2cbbce208f5"
            ]
        ]
    },
    {
        "id": "d69629872b8955aa",
        "type": "ui_template",
        "z": "e97ffe7330781f7d",
        "group": "ad3154be14dd1c13",
        "name": "Login Failed",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html>\n<body>\n    <p>Your credentials have not been verified yet</p>\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 730,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "22ff36b68188256a",
        "type": "ui_button",
        "z": "e97ffe7330781f7d",
        "name": "",
        "group": "ad3154be14dd1c13",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "label": "Bring me back to the Welcome page",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "button1",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"App_Login\"], \"show\":[\"App_Intro\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 280,
        "wires": [
            [
                "3d47f2cbbce208f5"
            ]
        ]
    },
    {
        "id": "41e735bc49538a03",
        "type": "json",
        "z": "e97ffe7330781f7d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "e14a342f4c989fcc"
            ]
        ]
    },
    {
        "id": "8a80ea127d830602",
        "type": "comment",
        "z": "e97ffe7330781f7d",
        "name": "Section Login _______________________________________________________________________________________________________",
        "info": "",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "773adb6618195cbf",
        "type": "comment",
        "z": "e97ffe7330781f7d",
        "name": "Section Dashboard  ______________________________________________________________________________________",
        "info": "",
        "x": 450,
        "y": 560,
        "wires": []
    },
    {
        "id": "ddfc20dbacd6f8c3",
        "type": "comment",
        "z": "e97ffe7330781f7d",
        "name": "Section Intro  _______________________________________________________________________________________________",
        "info": "",
        "x": 460,
        "y": 60,
        "wires": []
    },
    {
        "id": "6a35b4b5fd300c24",
        "type": "ui_switch",
        "z": "e97ffe7330781f7d",
        "name": "",
        "label": "Status",
        "tooltip": "",
        "group": "a9b33ea4ff1e3666",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 530,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "69943755c186aa6c",
        "type": "function",
        "z": "e97ffe7330781f7d",
        "name": "",
        "func": "if (msg.payload !== '')\n    msg.payload = JSON.stringify({distance: msg.payload})\nelse msg.payload = 'Empty string'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 780,
        "wires": [
            [
                "37690805764accbf",
                "b03b176aec995485"
            ]
        ]
    },
    {
        "id": "37690805764accbf",
        "type": "mqtt out",
        "z": "e97ffe7330781f7d",
        "name": "",
        "topic": "message/ObstacleDistance",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9cb108d764c143b7",
        "x": 880,
        "y": 780,
        "wires": []
    },
    {
        "id": "9e34b4e234fad444",
        "type": "ui_template",
        "z": "e97ffe7330781f7d",
        "group": "061b7add36b698f8",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-cardcontainer {\n        margin-top: 120px;\n    }\n    .nr-dashboard-button {\n        height: 20% !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7ba03d6901b1c555",
        "type": "ui_template",
        "z": "e97ffe7330781f7d",
        "group": "ad3154be14dd1c13",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-form-button {\n        height: 50% !important;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    }\n    .md-button {\n        height: 50% !important;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    }\n    \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3a59f29487226e2f",
        "type": "ui_template",
        "z": "e97ffe7330781f7d",
        "group": "a9b33ea4ff1e3666",
        "name": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-button {\n        height: 50px !important;\n    }\n    #App_Adjustment_cards {\n        height: 580px !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "b03b176aec995485",
        "type": "debug",
        "z": "e97ffe7330781f7d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 720,
        "wires": []
    },
    {
        "id": "061b7add36b698f8",
        "type": "ui_group",
        "name": "Intro",
        "tab": "b97a11b97c8b88db",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9b33ea4ff1e3666",
        "type": "ui_group",
        "name": "Adjustment",
        "tab": "b97a11b97c8b88db",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9572d272457866e",
        "type": "ui_group",
        "name": "Logs",
        "tab": "b97a11b97c8b88db",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad3154be14dd1c13",
        "type": "ui_group",
        "name": "Login",
        "tab": "b97a11b97c8b88db",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9cb108d764c143b7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b97a11b97c8b88db",
        "type": "ui_tab",
        "name": "App",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]